{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block form %}




<div class="modal modal-signin position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-5 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <!-- <h5 class="modal-title">Modal title</h5> -->
        <h2 class="fw-bold mb-0">Sign up for free</h2>
      </div>


<!--        the start of the actual form -->
      <div class="modal-body p-5 pt-0">
   <div class="content-section">
        <form method="POST">
<!--            <input type="hidden" name="csrfmiddlewaretoken" value="LzRRkaFYpNtWaco36ORfub52wviTCN77rgIuxbQVf5o8w2Wr36Nt4IVPYBIQysTm">-->
<!--            {% csrf_token %}-->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>


<div class="form-floating mb-3">



<!--the completed username input site-->
<div id="div_id_username" class="control-group">
<div class="form-floating mb-3">
                <input type="text" class="form-control rounded-4" id="id_username" placeholder="Username">
            <label for="id_username" class="control-label requiredField">Username</label>
          </div>
</div>


<!--    the completed email-->
    <div id="div_id_email" class="control-group">
<div class="form-floating mb-3">
            <input type="email" class="form-control rounded-4" id="id_email" placeholder="name@example.com">
            <label for="id_email" class="control-label requiredField">Email address</label>
          </div>
    </div>


<!--input of the first password-->
    <div id="div_id_password1" class="control-group">

        <div class="form-floating mb-3">
            <input type="password" name="password1" class="form-control rounded-4" autocomplete="new-password" id="id_password1" placeholder="Password">
            <label for="id_password1" class="control-label requiredField">Password</label>
          </div>

        <div class="controls">
            <p id="hint_id_password1" class="help-block"></p>
            <ul>
                <li>Your password can’t be too similar to your other personal information.</li
                ><li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
            <p></p>
        </div>
    </div>

<!--repeat of the first password-->
    <div id="div_id_password2" class="control-group">
        <div class="controls">
<div class="form-floating mb-3">
<input type="password" name="password2" class="form-control rounded-4 textinput textInput" autocomplete="new-password" id="id_password2" placeholder="Password">
<label for="id_password2" class="control-label requiredField">Repeat Password</label>
</div>

        <p id="hint_id_password2" class="help-block">Enter the same password as before, for verification.</p>
        </div>
    </div>

            </div></fieldset>

            <div class=" form-floating mb-3">
            <div class="form-group">
                <button class="btn w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Sign Up</button>
            </div>
                </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="/login/">Sign In</a>
            </small>
        </div>
    </div>

<!--the end of the actual form -->
          </div>
      </div>
    </div>
  </div>
</div>


{% endblock form %}
